.device-dialog{
    width: 230px;
    height: 70px;
}

.alarm-dialog{
    width: 230px;
    height: 115px;
}

.dialog-title{
    margin-bottom: 12px;
}

#color-select-label{
    padding: 10px;
}

.cancelButton{
    color: rgb(82, 81, 81) !important;
    background-color: #ebe9e9 !important;
}

.saveButton{
    color: white !important;
    background-color: #81c5b6 !important;
}

.saveButton:hover{
    background-color: #5b8d85 !important;
}

.turnOffButton{
   display: block !important;
   width: 50% !important;
   margin-left: auto !important;
   margin-right: auto !important;
   margin-top: 20px!important;
   border-radius: 20px !important;
   background-color: #dfcead !important;
   color: white!important;
}